.table {
	width: 100%;
	td {
		vertical-align: middle;
	}
}

input {
	margin: 10px;
}


p {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.pointers {
	cursor: pointer;
}


/* ICON + BUTTON STYLE */

i {
	padding: 0 5px 0 5px;
	transition: all .5s ease;
	margin: 0 auto;
	float: right;
	vertical-align: middle;
}

.btn {
	color: white;
	transition: all .5s ease;
	&:hover {
		background-color: white;
		border: 1px solid green;
		color: green;
	}
	&:focus, &:active {
		outline: 0;
	}
}


