.btn {
	background-color: green;
	color: white;
	transition: all .5s ease;
	&:hover {
		background-color: white;
		border: 1px solid green;
		color: green;
	}
	&:focus, &:active {
		outline: 0;
	}
	margin: 0 0 25px 0;
}

.table {
	width: 100%
}

	th {
		text-align: justify;
	}